---

import Item from "../components/Item.astro"

---


<div class="grilla">
    <Item src="https://fcytcdelu.uader.edu.ar/sites/default/files/inline-images/novedades%20219x204.jpg"/>
    <Item src="https://fcytcdelu.uader.edu.ar/sites/default/files/inline-images/cursos%20219x204.jpg"/>
    <Item src="https://fcytcdelu.uader.edu.ar/sites/default/files/inline-images/movilidad%20estudiantil%20219x204.jpg"/>
    <Item src="https://fcytcdelu.uader.edu.ar/sites/default/files/inline-images/oportunidades%20laborales%20219x204.jpg"/>
</div>



<style>
    .grilla{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

    }

    .img{
        width: 100%;
    }

</style>