<div class="event"><a href=""><h2>EVENTOS DE INTERES</h2></a></div>

<style>
    a{
        font-size: 1rem;
        font-weight: bold;
        color: #ffffff;
        
    }

    .event{
        background-color: rgb(24, 80, 163);
        text-align: center;
        height: 8rem;
        display: flex;
        align-items: center;
        justify-content: center;

        margin-top: 2rem;
    }
</style>