<div class="footer">
    <ul>
        <li>Facultad de Ciencia y Tecnología        </li>
        <li>Sede Concepción del Uruguay</li>
        <li>25 de Mayo 385 - CP: 3260</li>
        <li>Concepción del Uruguay - Entre Ríos - Argentina</li>
        <li>(+54 3442) 431442</li>
        <li>fcyt_cdelu@uader.edu.ar</li>
    </ul>
</div>


<style>
    .footer{
        margin-top: 2rem;
        border-top: 2px solid #00000025;
    }

    li{
        list-style: none;
    }

</style>