<h2>instituciones vinculadas</h2>
<div class="content">
    <div class="element"><img src="https://fcytcdelu.uader.edu.ar/sites/default/files/2019-08/coneau.png" alt=""></div>
    <div class="element"><img src="https://fcytcdelu.uader.edu.ar/sites/default/files/2019-08/logo%20mcdu%20100x100.jpg" alt=""></div>
    <div class="element"><img src="https://fcytcdelu.uader.edu.ar/sites/default/files/2019-08/intellymation%20100x100.png" alt=""></div>
    <div class="element"><img src="https://fcytcdelu.uader.edu.ar/sites/default/files/2019-12/logo%20itsynch%20100x100.png" alt=""></div>
    <div class="element"><img src="https://fcytcdelu.uader.edu.ar/sites/default/files/2020-07/msi_0.jpg" alt=""></div>
    <div class="element"><img src="https://fcytcdelu.uader.edu.ar/sites/default/files/2019-08/100px-Intalogo.png" alt=""></div>
</div>


<style>
    .content{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .element{
        width: 2rem;
        height: 2rem;
    }
</style>