---

interface Props {
	src: string;
}

const { src } = Astro.props;
---


<div class="item"><img {src} alt=""></a><a href=""></div>

<style>
	.item{
       margin: 1rem;
       border-top: .5rem solid #2b55b9;
       box-shadow: .5rem .3rem 1px 1px #a987876d;

    }
</style>