
<div class=" nav">
    <div class="container ">
        <a href="/"><img src="https://fcytcdelu.uader.edu.ar/themes/fcyt/logo.png" alt="Inicio"></a>

        <div class="links">
        <a href="/institucional">institucional</a>
        <a href="/carreras">carreras</a>
        <a href="/academica">academica</a>
        <a href="/extension">extensión</a>
        <a href="/bienestar">bienestar estudiantil</a>
        <a href="/comunicacion">comunicación</a>
        </div>
    </div>

    <div class="hamburger">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </div>

</div>

<script>
    document.querySelector('.hamburger').addEventListener('click', () => {
      document.querySelector('.links').classList.toggle('expanded');
    });
    window.addEventListener('resize', () => {
    const links = document.querySelector('.links');
    if (window.innerWidth >= 560.01) {
        links.classList.remove('expanded');
    }
    });
  </script>

<style>
    .nav{
      display: flex;
      list-style: none;
      justify-content: center;
      flex-wrap: wrap;
      margin: 0 auto;
      background-color: rgb(30, 81, 174);
    }

    .links a{
        font-size: 1rem;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        padding: 1rem;

    }

    .links a:hover{
        background-color: rgba(42, 89, 177, 0.803);
    }
    
    .container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 1rem;
    }
    
    .links{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .img{
        display: block;
        flex-wrap: nowrap;
        place-items: center;
    }

.hamburger {
    display:block;
    position: absolute;
    left: 1rem;
    top:1.3rem;
    cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: white;
}

@media (max-width: 560px) {
    .links {
        display: none;
    }
    .hamburger {
        display: block;
    }
    .expanded{
        display: none;
    }
}

@media (min-width: 560.01px) {
    .links {
        display: flex;
    }
    .hamburger {
        display: none;
    }
}


.expanded {
    display: unset;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0rem;
    top: 4.3rem;
    background-color: rgba(42, 89, 177, 0.803);
}


</style>
