
<div class=" nav">
    <div class="container ">
        <img src="https://fcytcdelu.uader.edu.ar/themes/fcyt/logo.png" alt="Inicio">

        <div class="links">
        <a href="">institucional</a>
        <a href="">carreras</a>
        <a href="">academica</a>
        <a href="">extensión</a>
        <a href="">bienestar estudiantil</a>
        <a href="">comunicación</a>
        </div>
    </div>
</div>

<style>
    .nav{
      display: flex;
      list-style: none;
      justify-content: center;
      flex-wrap: wrap;
      margin: 0 auto;
      background-color: rgb(30, 81, 174);
    }

    .nav a{
        font-size: 1rem;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        padding: 1rem;

    }

    a:hover{
        background-color: rgba(42, 89, 177, 0.803);
    }
    
    .container{
        display: flex;
        flex-wrap: wrap;
        padding: 1rem;
    }
    
    .links{
        display: flex;
        flex-wrap: wrap;
        margin-left: 2rem;
    }

    .img{
        display: block;
        flex-wrap: nowrap;
        place-items: center;
    }
</style>
