
<div class="vida">

    <div class="content">
        <div class="main"><h2>vida universitaria</h2></div>
        <div class="wepa">
            <div class="scnd first"><a href=""><img src="https://fcytcdelu.uader.edu.ar/sites/default/files/inline-images/siu_guarani%20100%20x%20100.png" alt=""><h2>siu guarani</h2></a></div>
            <div class="scnd two"><a href=""><img src="https://fcytcdelu.uader.edu.ar/sites/default/files/inline-images/moodle.png" alt=""><h2>moodle</h2></a></div>
        </div>
    </div>

</div>



<style>


    .vida{
        display: flex;
        flex-direction: column;
    }

    .content{
        display: flex;
        flex-direction: column;
    }

    .main{
        color: white;
        background-color: rgb(35, 85, 187);
        text-align: center;
        height: 5rem;

    }

    .wepa{
        background-color: aqua;
        display: flex;
        justify-content: space-around;

    }
    .scnd{
        display: flex;
        flex-direction: column;
        text-align: center;
        flex-wrap: wrap;
        align-content: center;
        width: 100%;
    }

    .first{
        background-color: rgb(10, 95, 198);
    }

    .two{
        background-color: rgb(50, 124, 214);
    }


    a{
        text-decoration: none;
        text-align: center;
        color: #ffffff;
    }

    .img{
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>